
body {
    font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: none;
}

.masthead {
    background-color: #3c4146;
    border-bottom-color: #202326;
}

.masthead h3 {
    color: #EEE;
}

.loading {
    color: #006699;
}
.warn {
    color: #800000;
}
.searchBar {
    color: #EEE;
}
.searchBar h2 {
    font-size: 1.9rem;
    font-weight: normal;
    padding: 0px;
    border: none;
    margin: 0;
}
.searchBar label {
    font-size: 0.8rem;
}
.searchBar input[type='text'] {
    font-size: 1.4rem;
    border: none;
}
.searchBar button {
    font-size: 1rem;
    padding: 12px;
    border: none;
    margin: 0;
}
.bg-blue {
    background-color: #0079d1 !important;
}
