
body {
    font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: none;
}

.masthead {
    background-color: #3c4146;
    border-bottom-color: #202326;
}

.masthead h3 {
    color: #EEE;
}

.loading {
    color: #006699;
}
.warn {
    color: #800000;
}

.bg-blue {
    background-color: #0079d1 !important;
}
